table {
  border-collapse: collapse;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
}

td,
th {
  padding: .5rem;
  border-top: 1px solid #eee;
}

thead th {
  border-bottom: 2px solid #eee;
}